.home.blog h1.hestia-title {font-size: 40px;}
.home.blog .main.main-raised {margin: 0 !important;}
h1, h2, h3, h4, h5, h6 {font-family: inherit;}
div, p, a, span, li, body {font-family: inherit;}
body {-moz-osx-font-smoothing: grayscale;-webkit-font-smoothing: antialiased;}
.authors-on-blog .footer a[href*="facebook.com"] {color: #3b5998;}
.authors-on-blog .footer a[href*="twitter.com"] {color: #55acee;}
.authors-on-blog .footer a[href*="pinterest.com"] {color: #cc2127;}
.authors-on-blog .footer a[href*="google.com"] {color: #dd4b39;}
.authors-on-blog .footer a[href*="linkedin.com"] {color: #0976b4;}
.authors-on-blog .footer a[href*="dribbble.com"] {color: #ea4c89;}
.authors-on-blog .footer a[href*="github.com"] {color: #333;}
.authors-on-blog .footer a[href*="youtube.com"] {color: #e52d27;}
.authors-on-blog .footer a[href*="instagram.com"] {color: #125688;}
.authors-on-blog .footer a[href*="reddit.com"] {color: #ff4500;}
.authors-on-blog .footer a[href*="tumblr.com"] {color: #35465c;}
.authors-on-blog .footer a[href*="behance.com"] {color: #1769ff;}
.authors-on-blog .footer a[href*="snapchat.com"] {color: #fffc00;}
.authors-on-blog .footer a[href*="deviantart.com"] {color: #05cc47;}
.authors-on-blog .footer a[href*="vimeo.com"] {color: #1ab7ea;}
.footer .widget>h5 {font-size: 18px;font-weight: 400;line-height: 25px;}
.footer .widget li a {font-size: 12px;font-weight: 400;line-height: 19px;}
.footer-big .footer-menu li a {font-weight: 400;}
.navbar {box-shadow: 0px 0px 20px 0px rgba(0,0,0,.15);}
.navbar .navbar-toggle:hover {box-shadow: none !important;}
.btn.btn-just-icon {-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
.btn.btn-just-icon:hover {box-shadow: 0 3px 8px 0 rgba(0,0,0,.17);}
aside .widget a {color: #2c2c2c;}
.card-title {color: #2c2c2c;}
.btn, .btn.btn-primary, .button, button, input[type="submit"] {-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;box-shadow: none !important;transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;transition-property: color,background-color,border-color,box-shadow;transition-duration: .15s,.15s,.15s,.15s;transition-timing-function: ease-in-out,ease-in-out,ease-in-out,ease-in-out;transition-delay: initial;border-radius: 30px !important;}
.btn:hover, .btn.btn-primary:hover, .button:hover, button:hover, input[type="submit"]:hover {box-shadow: 0 3px 8px 0 rgba(0,0,0,.17) !important;opacity: .9;}
input:not([type="submit"]) {background-image: none !important;border: 1px solid #e3e3e3 !important;border-radius: 30px !important;padding-left: 10px !important;}
textarea.form-control, input[type="checkbox"], input[type="file"], select {background-image: none !important;border: none !important;border-radius: 0 !important;border-bottom: 1px solid #e3e3e3 !important;padding-left: 0 !important;}
input label {margin-left: 10px !important;}
input:focus-within label {display: none !important;}
.form-group label.control-label {font-size: 14px !important;line-height: 1.42857 !important;margin-left: 10px;}
.form-group.is-focused label.control-label {top: -7px !important;font-size: 14px !important;line-height: 1.42857 !important;margin-left: 10px;}
.form-group label.control-label {display: none;}
.form-group.is-empty label.control-label {display: inline-block;}
.carousel .hestia-title {font-size: 49px;font-weight: 700;line-height: 56px;padding-top: 30px;margin-bottom: 15px;}
.carousel .sub-title {font-size: 21px;font-weight: 400;line-height: 30px;margin-top: 10px;margin-bottom: 15px;}
.carousel .buttons .btn {border-radius: 4px !important;}
.hestia-features .hestia-title {color: #2c2c2c;font-weight: 700;padding-top: 30px;margin-bottom: 30px;}
.hestia-features .description {color: #9a9a9a;font-weight: 300;margin-top: 30px;margin-bottom: 15px;}
.hestia-features .feature-box .hestia-info>a .icon {-webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px;transition: transform .4s,box-shadow .4s;transition-property: transform,box-shadow;transition-duration: .4s,.4s;transition-timing-function: initial;transition-delay: initial;width: 80px;height: 80px;padding: 25px 0;margin: 0 auto;}
.hestia-features .feature-box .hestia-info>a .icon i {font-size: 30px;}
.hestia-features .feature-box .hestia-info>a .info-title {font-weight: 400;line-height: 30px;padding: 0 15px;margin: 25px 0 15px;}
.hestia-features .feature-box .hestia-info>a:hover {opacity: initial;}
.hestia-features .feature-box .hestia-info>a:hover .icon {-webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px;transform: translate3d(0,-.5rem,0);transition: transform .4s,box-shadow .4s;transition-property: transform,box-shadow;transition-duration: .4s,.4s;transition-timing-function: initial;transition-delay: initial;opacity: initial;}
.hestia-features .feature-box .hestia-info>a:hover .info-title {opacity: initial;}
.hestia-features .feature-box .hestia-info .description {color: #888;font-size: 15px;font-weight: 300;line-height: 24px;margin-bottom: 16px;}
.fagri-testimonials-wrapper {background-position: top center;background-size: cover;background-color: #000;position: relative;}
.fagri-testimonials-wrapper::before {background-color: rgba(0,0,0,.5);display: block;position: absolute;top: 0;left: 0;width: 100%;height: 100%;content: "";}
.fagri-testimonials-wrapper .fagri-testimonials-background-switcher>.customize-partial-edit-shortcut {top: 0;right: 15px;}
.fagri-testimonials-wrapper .hestia-testimonials .hestia-title {color: #2c2c2c;color: #fff;font-weight: 700;padding-top: 30px;margin-bottom: 30px;}
.fagri-testimonials-wrapper .hestia-testimonials .description {color: #9a9a9a;color: rgba(255,255,255,.8);font-weight: 300;margin-top: 30px;margin-bottom: 15px;}
.fagri-testimonials-wrapper .hestia-testimonials .hestia-testimonials-content .card-testimonial {-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;background-color: #fff;margin-top: 60px;}
.fagri-testimonials-wrapper .hestia-testimonials .hestia-testimonials-content .card-testimonial .card-avatar img {filter: grayscale(100%);margin: -80px auto 0;box-shadow: 0px 10px 25px 0px rgba(0,0,0,.3);}
.fagri-testimonials-wrapper .hestia-testimonials .hestia-testimonials-content .card-testimonial .card-avatar a:hover {opacity: initial;}
.fagri-testimonials-wrapper .hestia-testimonials .hestia-testimonials-content .card-testimonial .content {padding: 0 20px 40px;}
.fagri-testimonials-wrapper .hestia-testimonials .hestia-testimonials-content .card-testimonial .content .card-title {font-weight: 400;line-height: 26px;}
.fagri-testimonials-wrapper .hestia-testimonials .hestia-testimonials-content .card-testimonial .content .category {color: #9a9a9a;font-weight: 700;line-height: 24px;text-transform: capitalize;}
.fagri-testimonials-wrapper .hestia-testimonials .hestia-testimonials-content .card-testimonial .content .card-description::before {position: absolute;content: "";font-family: "FontAwesome";font-size: 32px;top: -35px;left: 50%;-webkit-transform: translateX(-50%);-moz-transform: translateX(-50%);-ms-transform: translateX(-50%);-o-transform: translateX(-50%);transform: translateX(-50%);}
.fagri-testimonials-wrapper .hestia-testimonials .hestia-testimonials-content .card-testimonial .content .card-description {position: relative;color: #9a9a9a;font-weight: 300;line-height: 24px;margin: 60px auto 0;}
.hestia-subscribe .title {color: #2c2c2c;color: #fff;font-weight: 700;padding-top: 30px;margin-bottom: 30px;}
.hestia-subscribe .subscribe-description {color: #9a9a9a;color: rgba(255,255,255,.8);font-weight: 300;margin-top: 30px;margin-bottom: 15px;}
.hestia-pricing {background-color: #fff;}
.hestia-pricing .hestia-title {color: #2c2c2c;font-weight: 700;padding-top: 30px;margin-bottom: 30px;}
.hestia-pricing div:first-of-type>p {color: #9a9a9a;font-weight: 300;margin-top: 30px;margin-bottom: 15px;}
.hestia-pricing .card-pricing .content {font-size: 14px;font-weight: 400;line-height: 21px;padding: 20px 5px !important;}
.hestia-pricing .card-pricing .content .category {font-size: 13px;font-weight: 700;line-height: 15px;text-transform: capitalize;padding-bottom: 8px;margin: 0 auto;}
.hestia-pricing .card-pricing .content .hestia-pricing-icon-wrapper {border: none;}
.hestia-pricing .card-pricing .content .card-title {font-size: 49px;font-weight: 400;line-height: 62px;}
.hestia-pricing .card-pricing .content .card-title small {color: inherit;font-size: 26px;font-weight: 700;}
.hestia-pricing .card-pricing .content .pricing-has-icon+.card-title {color: #2c2c2c;font-size: 26px;font-weight: 400;line-height: 33px;margin-top: 30px;margin-bottom: 12px;}
.hestia-pricing .card-pricing .content .pricing-has-icon+.card-title small {font-size: 60%;font-weight: 400;}
.hestia-pricing .card-pricing .content ul li {font-size: 14px;font-weight: 400;line-height: 21px;}
.hestia-pricing .card-pricing .content .btn {margin: 10px 1px;}
.hestia-pricing .card-pricing.card-raised {box-shadow: 0px 5px 25px 0px rgba(0,0,0,.2);}
.hestia-pricing .card-pricing.card-raised .content, .hestia-pricing .card-pricing.card-raised .content small, .hestia-pricing .card-pricing.card-raised .content b, .hestia-pricing .card-pricing.card-raised .content stong, .hestia-pricing .card-pricing.card-raised .content span, .hestia-pricing .card-pricing.card-raised .content p, .hestia-pricing .card-pricing.card-raised .content a, .hestia-pricing .card-pricing.card-raised .content .category, .hestia-pricing .card-pricing.card-raised .content ul li {color: #fff;}
.hestia-pricing .card-pricing.card-raised .content .pricing-has-icon+.card-title {color: #fff;}
.hestia-pricing .card-pricing.card-raised .content .hestia-pricing-icon-wrapper {background-color: #fff;box-shadow: 0px 9px 30px -6px #fff !important;}
.hestia-pricing .card-pricing.card-raised .content .card-title small {color: inherit;}
.hestia-pricing .card-pricing.card-raised .content .btn {background-color: #fff !important;}
.hestia-contact .card-contact {-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.hestia-contact .card-contact .header {-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;background-color: #fff !important;padding: 0;margin: 0;}
.hestia-contact .card-contact .header .card-title {color: #2c2c2c;font-size: 21px;font-weight: 400;line-height: 26px;margin-top: 15px;margin-bottom: 12px;}
.hestia-contact .card-contact .content {padding: 20px;}